certifi==2026.1.4
charset-normalizer==3.4.4
fastapi==0.115.6
google-api-python-client==2.149.0
google-auth==2.35.0
google-auth-httplib2==0.2.0
idna==3.11
keyring==25.5.0
openpyxl==3.1.5
pydantic==2.10.4
xlrd==2.0.1
psycopg2-binary==2.9.9
python-dotenv==1.0.1
requests==2.32.3
uvicorn==0.34.0
urllib3==2.6.3
